# dotenv environment variable files
.env
.env.development.local
.env.test.local
.env.production.local
.env.local

# Dependency directories
node_modules/
jspm_packages/

# Nuxt.js build / generate output
.nuxt
dist

# Runtime data
pids
*.pid
*.seed
*.pid.lock